
production:
  adapter: postgresql
  encoding: unicode
  database: openproject
  host: {{ hostvars[db_addr].networkInterfaces[0].networkIP }}
  pool: 5
  username: openproject
  password: openproject
