<IfModule mod_passenger.c>
 PassengerRoot /home/openproject/.gem/ruby/2.6.0/gems/passenger-6.0.4
 PassengerDefaultRuby /home/openproject/.rbenv/versions/2.6.1/bin/ruby
 PassengerFriendlyErrorPages on
</IfModule>
